.menu {
    height: 100vh;
    background-color: #b08d57;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    z-index: 30;

    .body {
        box-sizing: border-box;
        height: 100%;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav {
            display: flex;
            flex-direction: column;
            font-size: 30px;
            gap: 12px;
            margin-top: 80px;

            .header {
                color: #ffffff;
                border-bottom: 1px solid #ffffff;
                text-transform: uppercase;
                font-size: 11px;
                margin-bottom: 40px;
            }

            a {
                text-decoration: none;
                color: white;
                font-weight: 300;
            }

             @media (width < 40rem /* 640px */) {
                font-size: 30px;
                margin-top: 200px;
            }

             @media (width < 24rem /* 640px */) {
                font-size: 30px;
                margin-top: 20px;
            }



        }
    }
}

